<section>
  <div>
    <div class="col-12">
      <div class="card">
        <div class="content-header">
          <h1>Consultar Ordens de Serviço</h1>
        </div>
        <form [formGroup]="formSearchOs">
          <div class="card-content">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <fieldset class="form-group">
                    <label for="ordemNumero">Ordem Número:</label>
                    <input type="number" class="form-control" id="ordemNumero" formControlName="ordemNumero"
                      placeholder="Número da OS" />
                  </fieldset>

                  <fieldset class="form-group">
                    <label for="nomeCliente">Nome do cliente:</label>
                    <input type="text" class="form-control" id="nomeCliente" formControlName="nomeCliente"
                      placeholder="Nome do cliente" />
                  </fieldset>

                </div>
                <div class="col-md-6">


                  <fieldset class="form-group">
                    <label for="statusOs">Status:</label>
                    <ng-select [clearable]="false" id="statusOs" formControlName="statusOs"
                      (change)="onSelectStatus($event)">
                      <ng-option>Em andamento</ng-option>
                      <ng-option>Concluido</ng-option>
                    </ng-select>
                  </fieldset>

                  <button type="submit" class="btn btn-light mt-4 float-right" (click)="limparFiltro()">
                    Limpar
                  </button>
                  <button type="submit" class="btn btn-primary mt-4 mr-2 float-right" (click)="searchOs()">
                    Buscar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="col-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="py-2 mb-2 mx-n2 clearfix" id="card-agendamentos">
            <h2>Lista de Ordens de Serviço</h2>
            <button type="button" class="btn btn-primary mr-1 mb-1 float-right" (click)="addOS()">
              Nova OS
            </button>
            <button type="button" class="btn btn-info mr-1 mb-1 float-left" (click)="gerarRelatorio()">
              Gerar Relatório
              <i class="ft-file font-medium-3"></i>
            </button>
          </div>
          <div class="card-body table-responsive">
            <table class="table text-center m-0">
              <thead>
                <tr>
                  <th id="table-p">Nº OS</th>
                  <th id="table-p">Nome</th>
                  <th id="table-p">Veículo</th>
                  <th id="table-p">Placa</th>
                  <th id="table-p">Status</th>
                  <th id="table-p">Ações</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let os of data">
                  <!-- Use ngIf para verificar o tipoDoc -->
                  <ng-container *ngIf="os.tipoDoc === 'OrdemServico'">
                    <td class="text-truncate"> {{ os.id }} </td>
                    <td class="text-truncate"> {{ os.clients.nome }} </td>
                    <td class="text-truncate"> {{ os.automovels.marca }} </td>
                    <td class="text-truncate"> {{ os.automovels.placa }} </td>
                    <td class="text-truncate"> {{ os.status }} </td>
                    <td class="text-truncate">
                      <a class="info p-0" title="Visualizar OS"><i class="ft-search font-medium-3 mr-2"
                          (click)="openById(os.id, os.clientId)"></i></a>
                      <a class="success p-0" title="Editar OS"><i class="ft-edit font-medium-3 mr-2"
                          (click)="openEditById(os.id)"></i></a>
                      <a href="javascript:;" title="Excluir OS" class="danger p-0"><i class="ft-x font-medium-3 mr-2"
                          (click)="deleteById(os.id)"></i></a>
                      <a href="javascript:;" title="Finalizar OS" class="dark p-0 mr-2"><i
                          class="ft-check font-medium-3" (click)="finalizarOs(os.id)"></i></a>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="centered-pagination">
            <div *ngIf="totalPages > 0">
              <button class="btn btn-info mr-1 smaller-button" *ngFor="let page of getPaginationRange()"
                (click)="goToPage(page)">
                {{ page }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
