<!--Login Page Starts-->
<section id="login">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <a [routerLink]="['/page']"
                class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                <div class="logo-img">
                  <img src="../../../assets/img/logo.png" alt="" width="400" height="200">
                </div>
              </a>
              <div class="col-lg-6 col-12 px-4 py-3">

                <h4 class="mb-2 card-title">{{'login.label.ACCESS' | translate }}</h4>
                <p>{{'login.label.WELCOME' | translate }}</p>
                <!-- <ngb-alert type="light-danger" class="mb-2" *ngIf="isLoginFailed" (close)="isLoginFailed = false">
                  <p class="mb-0">{{'login.message.FAILED' | translate }}</p>
                </ngb-alert> -->
                <form [formGroup]="loginForm">
                  <div class="form-group">
                    <input type="text" formControlName="username" class="form-control"
                      placeholder="{{'login.label.USERNAME' | translate }}"
                      [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.username.invalid}" required>
                    <app-error-msg [control]="loginForm.get('username')" label="login.message.USERNAME_REQUIRED">
                    </app-error-msg>
                    <!-- <div *ngIf="loginFormSubmitted && (lf.username.invalid || lf.username.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>  {{'login.message.USERNAME_REQUIRED' | translate }}</div>-->
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="password" class="form-control"
                      placeholder="{{'login.label.PASSWORD' | translate }}"
                      [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.password.invalid}" required>
                    <app-error-msg [control]="loginForm.get('password')" label="login.message.PASSWORD_REQUIRED">
                    </app-error-msg>
                    <!-- <div *ngIf="loginFormSubmitted && (lf.password.invalid || lf.password.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>  {{'login.message.USERNAME_REQUIRED' | translate }}
                    </div> -->
                  </div>
                  <div class="d-sm-flex justify-content-between mb-3 font-small-2">
                    <div class="remember-me mb-2 mb-sm-0">
                      <div class="checkbox auth-checkbox">
                        <input type="checkbox" formControlName="rememberMe" class="form-control" id="rememberMe">
                        <label for="rememberMe"><span
                            class="font-small-2 mb-3 font-weight-normal">{{'login.label.REMEMBERME' | translate
                            }}</span></label>
                      </div>
                    </div>
                    <a (click)="openModal()" href="javascript:;">{{'login.label.FORGOTPASSWORD' | translate }}</a>
                  </div>

                  <div class="d-flex justify-content-between flex-sm-row flex-column">

                    <!-- <a href="javascript:;" class="btn bg-light-primary mb-2 mb-sm-0">{{'login.label.REGISTER' |
                        translate }}</a> -->
                    <a class="btn btn-primary" (click)="onSubmit()">{{'login.label.LOGIN' | translate }}</a>

                    <div *ngIf="loading" class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>


                </form>
                <!-- <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="text-primary m-0">{{'login.label.LOGINWITH' | translate }}</h6>
                  <ngx-spinner></ngx-spinner>
                  <div class="login-options">
                    <a class="btn btn-sm btn-social-icon btn-facebook mr-1"><span class="fa fa-facebook"></span></a>
                    <a class="btn btn-sm btn-social-icon btn-twitter mr-1"><span class="fa fa-twitter"></span></a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
