@import "../core/variables/variables";
@import "../core/variables/app-variables";
@import "../core/colors/palette-variables";

// Full page background
.auth-page:not(.layout-dark) {
  background-image: url('../../img/img1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.auth-page {
  .auth-img {
    padding: 0;

    .auth-img-bg {
      background-color: white;
    }
  }
}

// to remove scrollbar in auth pages
.auth-height {
  overflow: auto;
}
