<section class="users-edit">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-left">
              <li [ngbNavItem]="1">
                <a ngbNavLink class="nav-link d-flex align-items-center">
                  <i class="ft-user mr-1"></i>
                  <span class="d-none d-sm-block">{{ title | translate | uppercase }}</span>
                </a>

                <ng-template ngbNavContent>
                  <form [formGroup]="oform" name="oform" (ngSubmit)="onSubmit()" novalidate>
                    <div class="row mt-2">
                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <div class="controls">
                            <label for="users-edit-cpf">{{"account.label.CPF" | translate | uppercase}}</label>
                            <input type="text" maxlength="14" id="users-edit-cpf" class="form-control" formControlName="cpf"
                              [ngClass]="{'is-invalid':  f.cpf.invalid && (f.cpf.dirty || f.cpf.touched), 'is-valid': !f.cpf.invalid && (f.cpf.dirty || f.cpf.touched) }">
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="controls">
                            <label for="users-edit-name">{{"account.label.FULLNAME" | translate | uppercase}}</label>
                            <input type="text" maxlength="200" id="users-edit-name" class="form-control" formControlName="name"
                              [ngClass]="{'is-invalid':  f.name.invalid && (f.name.dirty || f.name.touched), 'is-valid': !f.name.invalid && (f.name.dirty || f.name.touched) }">
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="controls">
                            <label for="users-edit-email">{{"account.label.EMAIL" | translate | uppercase}}</label>
                            <input type="email" maxlength="200" id="users-edit-email" class="form-control" formControlName="email"
                              [ngClass]="{'is-invalid':  f.email.invalid && (f.email.dirty || f.email.touched), 'is-valid': !f.email.invalid && (f.email.dirty || f.email.touched) }">
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6">
                        <div class="form-group">
                          <label for="user-profile">{{"account.label.ROLE" | translate | uppercase}}</label>
                          <select id="user-profile" class="form-control" required formControlName="profile">
                            <option *ngFor="let p of profiles" [value]="p.id">{{ p.label }}</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <div class="controls">
                            <label for="user-password">{{"account.label.PASSWORD" | translate | uppercase}}</label>
                            <input type="password" maxlength="200" id="user-password" class="form-control" formControlName="password">
                            <small class="form-text text-muted">{{"account.label.PASSWORD_HELP" | translate}}</small>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-3 mt-sm-2">
                        <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">{{"account.button.SAVE" | translate}}</button>
                        <button type="button" (click)="onCancel()" class="btn btn-secondary">{{"account.button.CANCEL" | translate}}</button>
                      </div>
                    </div>
                  </form>
                </ng-template>
              </li>
            </ul>

            <div class="tab-content">
              <div [ngbNavOutlet]="nav"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
